$primary-color: #5677FC;
$yellow: #FCC829;
$primary-font-color: #999999;
$secondary-color: #6889FF;
$link-color: #81260D;
$contrast-color: #fff;
$bg: #f7f7f7;
$dark-bg: darken($bg, 5%);
$grey-bg: #f7f7f7;
$dark-grey: #eee;
$grey-font: #828282;
$gray-button: #999;
